@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    text-size-adjust: 100%;
    line-height: 1.15;

}


div {
    display: block;
}

section {
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    /* width: 100vw; */
    padding-top: 60px;
    padding-bottom: 60px;

}


body {
    color: #d1d1d1;
    background: #1d1d20;
    font-family: 'Playfair Display', serif;
    margin: 0;
    display: block;
}

.main {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    scroll-behavior: smooth;

}

.main-container {
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.main-container section.one .main-container-inner {
    width: 100vw;
    max-width: 13380px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 19.5px 76.5px;
    display: flex;
    position: relative;

}

.main-container section.one .main-container-inner .inner-container {
    /* -webkit-user-select: none; */
    user-select: none;
    z-index: 2;
    background: #1d1d20;
    border-radius: 8px;
    flex-wrap: wrap;
    flex-basis: 100%;
    /* padding: 15px; */
    overflow: hidden;
    height: 84vh;

}

.main-container  section.one .main-container-inner header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 99%;
    
    /* height: 70px; */
    
    transition: background-color 0.3s ease-in-out;

}

.main-container   section.one .main-container-inner header .logo {
    margin-left: 50px;
    margin-top: 0px;
}


.main-container  section.one .main-container-inner header ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-right:35px ;
position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 0 23px;
}

.main-container section.one .main-container-inner  header ul a {
    /* color: #1d1d20; */
    color: #ccc;
    /* margin-left: 30px; */
    line-height: 1.5;
    display: flex;
    
    cursor: pointer;
    text-decoration: none;
}


.main-container   section.one .main-container-inner header ul a svg {
    width: 25px;
    height: 52px;
    margin-top: -15px;
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out 0s;
}

.main-container  section.one .main-container-inner header ul .email svg {
    fill: rgb(119, 119, 119);
    transition: all 0.1s ease-in-out 0s;
}

.main-container   section.one .main-container-inner header ul .github svg {
    fill: rgb(119, 119, 119);
    transition: all 0.1s ease-in-out 0s;
}

.main-container   section.one .main-container-inner header ul .linkedin svg {
    fill: rgb(119, 119, 119);
    transition: all 0.1s ease-in-out 0s;
}

.main-container section.one .main-container-inner .inner-container .project-overview {
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    min-height: calc(100% - 53px);
    height: calc(100% - 53px);
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transform: translateZ(0px);

}

.main-container section.one .main-container-inner .inner-container .project-overview .main-message {
    position: relative;
    flex-basis: 53.4752%;
}


.main-container section.one .main-container-inner .inner-container .project-overview .main-message .Hi-message {
    transform-origin: 0;
    opacity: 1;
    transition: all .2s linear;
    transform: scaleX(1);
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-message #Hi svg {
    width: 75%;
    fill: #fff0;

}

.main-container section.one .main-container-inner .inner-container .project-overview .main-message #Hi svg text {
    stroke: #fbfcfc;
    font-size: 250px;
    font-weight: 800;
    stroke-width: 5;
    animation: textAnimate 5s;
}



.main-container section.one .main-container-inner .inner-container .project-overview .main-message span {
    margin-left: 30px;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
    display: inline-block;
    position: relative;
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-message span:before {
    content: " ";
    width: 2px;
    background: linear-gradient(0deg, var(--grad-2)0%, var(--grad-1)100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info {
    flex-basis: 24.9017%;

}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Agdasima', sans-serif;
    font-size: 30px;
    font-weight: 100;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Agdasima', sans-serif;
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info div.info-wrapper {
    font-size: 20px;
    position: relative;
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info div.info-wrapper div {
    z-index: 1;
    background: #1d1d20;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    flex-direction: column;
    margin-left: 0;
    padding: 30px 30px;
    display: flex;
    position: relative;
    width: 112px;

}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info div.info-wrapper div a {
    color: #ccc;
    margin-bottom: 15px;
    margin-left: 0;
    padding-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
}

.main-container section.one .main-container-inner .inner-container .project-overview .main-info div.info-wrapper div a span {
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;

}


.main-container .main-container-inner .inner-container .project-overview .main-info div.info-wrapper::after {
    content: " ";
    width: 77px;
    height: 77px;
    opacity: 1;
    border-bottom-right-radius: 8px;
    position: absolute;
    bottom: -2px;
    left: 97px;
    right: -2px;
    background: linear-gradient(135deg, var(--grad-1)0%, var(--grad-2)50%, var(--grad-1)100%);
    transition: all 0.3s ease-in-out 0s;
}

.main-container .main-container-inner .inner-container .project-overview .main-info div.info-wrapper::before {
    content: " ";
    width: 77px;
    height: 77px;
    opacity: 1;
    border-top-left-radius: 8px;
    position: absolute;
    top: -2px;
    bottom: 0px;
    left: -2px;
    background: linear-gradient(135deg, var(--grad-1)0%, var(--grad-2)50%, var(--grad-1)100%);
    transition: all 0.3s ease-in-out 0s;
}

.main-container section.one .main-container-inner .inner-container main.project-overview .main-info div.info-wrapper div a span::after {
    content: "";
    height: 1px;
    width: 100%;
    opacity: 0;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0px;
    right: 0px;
    background: linear-gradient(270deg, var(--grad-1)0%, var(--grad-2)100%);
    transition: all 0.3s ease-in-out 0s;
}

.main-container section.one .main-container-inner .inner-container main.project-overview .main-info div.info-wrapper div a span::before {
    content: "";
    height: 1px;
    width: 100%;
    opacity: 1;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0px;
    right: 0px;
    background: linear-gradient(270deg, var(--grad-2)0%, var(--grad-1)100%);
    transition: all 0.3s ease-in-out 0s;
}

.main-container .main-container-inner .inner-container .project-overview .main-message span::before {
    content: " ";
    width: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -30px;
    background: linear-gradient(0deg, var(--grad-2)0%, var(--grad-1)100%);
}

.main-container section.one .main-container-inner .inner-container footer {
    width: 99%;
    /* text-align: center; */
    padding: 35px 0 27px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 15px;

}




element.style {
    pointer-events: none;
}

[data-name="corner-top-left"] {

    top: 0px;
    left: 54px;
    transition: all ease-in-out;
    position: absolute;

}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

:root {
    --grad-1: rgb(196, 71, 175);
    --grad-2: rgb(154, 165, 109);
}

[data-name="corner-bottom-right"] {
    bottom: 0px;
    right: 56px;
    transition: all ease-in-out;
    position: absolute;

}

.gradient2 {
    stop-color: var(--grad-2);
    transition: all .3s ease-in-out;
}

.gradient1 {
    stop-color: var(--grad-1);
    transition: all .3s ease-in-out;
}
